/*
231485698
TASK 1
*/

body {
    background-color: white;
    font-family: Poppins, serif;
    text-align: center;
    margin: 30px;
}

#book_session_btn {
    background-color: black;
    text-align: center;
    padding: 1.5%;
    color: white;
    border-radius: 30px;
    font-size: 15px;
}

#book_session_btn:hover {
    transition: all 250ms ease;
    background-color: green;
    color: black;
    cursor: pointer;
}


@media only screen and (min-width: 0) and (max-width: 800px) {
    #dog1, #dog2, #dog3, #dog4, #dog5 {
        display: block;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 300px;
        height: 300px;
        margin-left: 25%;
    }

    #dog1:hover, #dog2:hover, #dog3:hover, #dog4:hover, #dog5:hover {
        transition: all 250ms ease;
        width: 375px;
    }
}

@media only screen and (min-width: 801px) and (max-width: 2000px) {
    #dog1, #dog2, #dog3, #dog4, #dog5 {
        display: inline-block;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 150px;
        height: 300px;
        margin: 5px;
    }

    #dog1:hover, #dog2:hover, #dog3:hover, #dog4:hover, #dog5:hover {
        transition: all 250ms ease;
        width: 375px;
    }
}