/*
231485698
TASK 3
*/

#field {
    background-color: darkgreen;
    border: 3px solid black;
    text-align: left;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    color: white;
}

#fname, #email, #position, #password {
    width: 80%;
}

#h1 {
    font-size: 20px;
}

#registerBtn {
    background-color: gray;
    text-align: center;
    color: white;
    padding: 0.5%;
    border-radius: 8px;
    font-size: 15px;
}